[kvm]
192.168.122.101 ansible_python_interpreter=/usr/bin/python3
192.168.122.103 ansible_python_interpreter=/usr/local/bin/python3
192.168.122.106 ansible_python_interpreter=/usr/bin/python3

[rpi]
192.168.1.141 ansible_python_interpreter=/usr/bin/python2


[station]
192.168.1.145 ansible_python_interpreter=/usr/bin/python3



